.grid {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 24px;
}


.text {
padding: 16px 0;
}

.image {
aspect-ratio: 1;
object-fit: cover;
border-radius: var(--border-radius);
justify-self: end;
align-self: stretch;
}