.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

.ul {
    list-style: none;
}

.a {
text-decoration: none;
color: #000;
white-space: nowrap;
}