.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
.flexbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ul {
  list-style: none;
}

.socialMedia{
  display: flex;
  gap: 1rem;
}

.socialMedia img{
  height: 25px;
  width: auto;
}

.logoLarge{
  height: auto;
  width: auto;
  flex-shrink: 0;
}