:root {
  --primary-color-green: #495e57;
  --primary-color-yellow: #f4ce14;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.displayTitle {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64pt;
}

.subTitle {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 40pt;
}

/* Lead Text */
.leadText {
  font-family: 'Karla', sans-serif;
  font-weight: 500; /* Medium */
  font-size: 18pt;
}

/* Section Title */
.sectionTitle {
  font-family: 'Karla', sans-serif;
  font-weight: 800; /* Extra Bold */
  font-size: 16pt;
}

/* Card Title */
.cardTitle {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 18pt;
}

/* Paragraph Text */
.paragraphText {
  font-family: 'Karla', sans-serif;
  font-weight: normal; /* Regular */
  font-size: 16pt;
  /* line-height: 1.5; */
  max-width: 65ch;
}

/* Highlight Text */
.highlightText {
  font-family: 'Karla', sans-serif;
  font-weight: 500; /* Medium */
  font-size: 16pt;
}

.link {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

.container {
  margin: auto;
  max-width: 1068px;
}